<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

	{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">

	<link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/common.css') }}">
	
	{% endblock %}

</head>
<body>

	{% block body %}
	{% endblock %}



	{% block scripts %}
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
	    <script type="text/javascript" src="{{ asset('js/modernizr.custom.79639.js') }}"></script> 


	    <script src="{{ asset('js/script.js') }}"></script>

	{% endblock %}
</body>
<footer class="page-footer">
  <div class="footer-copyright">
    <p>© 2017 Copyright Text</p>
  </div>
</footer>
</html>